/* Remove todas as margens padrão da página */
body{
  margin: 0;
}

/* Estiliza o cabeçalho da página */
header{
  background-color: #06151A; /* Define a cor de fundo do cabeçalho (um tom escuro de azul/petróleo) */
  padding: 32px; /* Adiciona espaçamento interno em todos os lados do cabeçalho */
  display: flex; /* Usa o modelo de layout flexbox */
  justify-content: center; /* Centraliza horizontalmente o conteúdo dentro do header */

}

/* Estiliza a seção principal do site */
section{
  background: linear-gradient(180deg, #17E4B9 0, #091D24 100%);  /* Aplica um degradê vertical */
  display: flex; /* Usa flexbox para organizar o conteúdo interno */
  justify-content: center; /* Centraliza horizontalmente os elementos dentro da section */
}

/* Define o comportamento das imagens dentro da section */
section img{
  max-width: 90%; /* Limita a largura máxima das imagens a 90% do contêiner, para que fiquem proporcionais */
}

